# local, prod
APP_ENV=local

PASSWORD_SALT=jlkjghhjfguyvhf

JWT_SIGNING_KEY=iyuoiwehrjbehjfgdzsjfausdpiofhuihqgwe

DB_HOST=192.168.141.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_NAME=db
DB_SSL_MODE=disable

SMTP_HOST=192.168.141.1
SMTP_PORT=1025
SMTP_FROM=no-reply@creatly.me
SMTP_PASSWORD=

STORAGE_ENDPOINT=storage_endpoint
STORAGE_BUCKET=bucket
STORAGE_SECRET_KEY=secret_key
STORAGE_ACCESS_KEY=access_key